# Dependencies
node_modules/

# Java / Maven
target/
**/target/
*.class
*.jar
*.war

# Frontend / SvelteKit / Node
.svelte-kit/
build/
dist/
.output/

# Environment
.env
.env.local
.env.*

# IDEs & OS
.idea/
.vscode/
*.swp
*.DS_Store
.trash*